<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Send To ESP {{espIP}}({{espPort}})
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Send To ESP {{espIP}}({{espPort}})</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input placeholder="Message" type="text" name="msg" [(ngModel)]="msg" autofocus></ion-input>
  </ion-item>
  <ion-button type="button" color="primary" (click)="sendToEsp()" [disabled]="!buttonEnable"
    expand="block" class="ion-text-capitalize">
    Send
  </ion-button>
  <ion-icon name="bulb-outline"></ion-icon>
  <pre>{{errorMsg}}</pre>
  
</ion-content>
