<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/setup"></ion-back-button>
    </ion-buttons>
    <ion-title>Setup (step 2)</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="checkAndReAndScan()">
        <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h5>
      Find the network you want your board to connect to (If you can't find your network it means the esp board does not see it.) <br>
    </h5>
  </ion-text>
  <div style="text-align: center; margin-top: 35px;" *ngIf="spin">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list *ngIf="!spin">
    <ion-item *ngFor="let network of networks" lines="full" button="true" (click)="presentAlertPrompt(network.ssid)">
      <ion-text slot="start">{{network.rssi}}</ion-text>
      <ion-text>
        <h5 style="margin-bottom: 5px; margin-top: 0px;">{{network.ssid}}</h5>
        <h6 style="margin-top: 0px;" *ngIf="connectMsg">
          {{connectMsg}}
        </h6>
      </ion-text>
      <ion-text slot="end">{{network.enc}}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
